
.navigation {
    margin: 0px 0 0 390;
}

.navi.logo{
    margin-right: 440px;
    font-size: 30px;
    font-weight: 900;

}
.navigation ul li{
    margin: 0 0 0 40px;
    display: inline-block;
}

.navigation ul li a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.navigation ul li a:hover {
    color: yellow;
}
#navigation-block {
    background-color: darkred;
    height: 80px;
}

#my-body{
    margin: 0;
    display: grid;
}