*, 
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.intro {
    height: 600px;
    background-color: white;
}
.navigation-block {
    height: 90px;
    padding-top: 22px;
    background-color: #D6001C;
    border-bottom: 4px solid #FFBC0D;
}

.navigation ul li {
    display: inline;
    margin-top: 10px;
}

.navigation ul li a{
    font-size: 20px;
    font-family: Inter, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin: 20px;
    color: white;
}

.navigation ul li a:hover {
    color: yellow;
}

.nav.logo {
    font-size: 35px;
    color: white;
    margin: 0 500px 0 30px;
}
.introduction {
    height: 600px;
    width: 1250px;
}

.intro-group {
    width: 550px;
    height: 200px;
    margin-top: 150px;
    margin-left: 40px;
    float: left;
}

.intro-image {
    height: 400px;
    width: 400px;
    margin-top: 50px;
    margin-right: 80px;
    float: right;
}

.intro-message {
    font-size: 40px;
    font-weight: 500;
    font-family:'VAGRounded Std', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0 auto;
}

.tagline {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    margin: 15px auto;
}

.recipes-description {
    display: flex;
    height: 400px;
    justify-content: space-between;
}

.recipe-header {
    width: 400px;
    font-size: 30px;
    font-family: 'VAGRounded Std', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin: 20px auto 40px auto;
}

.recipes-description .recipes {
    height: 300px;
    width: 200px;
    border-radius: 2px;
    border: 1px solid black;
    margin: 40px 100px;
    padding: 20px 60px;
}
