* {
    margin-top: 0px;
}

.navigation {
    margin: 0 0 0 390;
}

.navigation .logo{
    margin-left: 0;
}
.navigation ul li{
    margin: 0 0 0 40px;
    padding-top: 30px;
    display: inline-block;
}

.navigation ul li a {
    font-family: Arial, 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.navigation ul li a:hover {
    color: yellow;
}
#navigation-block {
    background-color: darkred;
    height: 80px;
}

body {
    margin: 0;
}